:root{
    --text-content: rgb(117, 117, 117);
    --text-white: rgb(255, 255, 255);
    --txt-a-blinck: rgba(255, 255, 255, 0.6);
}

.text-white{
    color: var(--text-white);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.text-white-a{
    color: var(--txt-a-blinck);
}

.text-white-footer{
    color: var(--text-white);
}

h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.text{
    font-size: 14px;
}

.text-auxiliary{
    color: var(--text-content);
}