:root{
    --text-main-color: rgb(33, 33, 33);
    --text-bg-blue: rgb(33, 150, 243);
    --text-bg-while: rgb(255, 255, 255);
}

.logotip-header{
    color: rgb(00, 00, 00);
}

.logotip-footer{
    color: var(--text-bg-while);
}

.logo-first {
    color: var(--text-bg-blue);
}

body, a {
    color: var(--text-main-color);
}

a:hover,
a.info:hover{
    color: var(--text-bg-blue);
}

.text-auxiliary{
    color: rgb(75, 75, 75);
}


button{
    color: var(--text-bg-while);
    background-color: var(--text-bg-blue);
}

.bg-second{
    background-color: rgb(47, 48, 58);
}

.bg-third{
    background-color: var(--text-bg-while);
}